@textcolor:#939393;
.graytop(@height:10px){
  margin-top:@height;
};
.padlr(@num:10px){
  padding-left:@num ;
  padding-right: @num;
};
.padtb(@num:10px){
  padding-top:@num ;
  padding-bottom:@num;
};
.grayborder(@color:#eee){
  border:1px solid @color;
};
@baseBtnColor:#19acff;
.flex(){
  display: flex;
};
@titleColor:#222222;
.fixBtm(){
  position: fixed;
  bottom: 20px;
  left:15px;
}
.bigBtn(@width:6.8rem,@height:50px,@color:#19acff){
  width: @width;
  height: @height;
  background-color: @color;
  text-align: center;
  line-height: @height;
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
}
.smallBtn(@color:#19acff){
  padding: 15px;
  background-color: @color;
}
.bg(@color:#ffffff){
  background-color:@color;
}
.borderTop(@width:10px,@color:#eee){
  border-top: @width solid @color;
}
.tag(){
  position: absolute;
  width: 100px;
  line-height: 24px;
  transform: rotate(45deg);
  right: -28px;
  top:10px;
  text-align: center;
  color: #fff;
}