<template>
    <div class="exchange">
        <div class="noData" v-if="noData">暂无数据</div>
        <ul>
            <li v-for="item of list"
                :class="{
                    'dealing':item.orderStatus===1,
                    'dealok':item.orderStatus===2,
                    'dealfail':item.orderStatus===3,
                    'dealcancel':item.orderStatus===4
                }"
            >
                <h3>订单号：{{item.orderNumber}}</h3>
                <div>
                    <h4><img :src="item.orderWares.defaultImgUrl" alt=""></h4>
                    <div>
                        <p>商品名：<span>{{item.orderWares.waresName}}</span></p>
                        <p>
                            兑换时间：<span>{{item.createTime}}</span>
                        </p>
                        <p>数量：<span>{{item.orderWares.quantity}}</span></p>
                        <p>消耗积分：<i>{{item.orderWares.price}}</i></p>
                        <p>发货时间：<span>{{item.orderType !== 1 ?item.updateTime : "未发货"}}</span></p>
                        <p>物流公司：<span>{{item.logistics}}</span></p>
                        <p>物流单号：<span>{{item.logisticNumber}}</span></p>
                        <p>订单状态：<span
                                :class="{
                                'buying':item.orderStatus===1&&item.cancelOrder===0,
                                'canceling':item.orderStatus===1&&item.cancelOrder===1,
                                'success':item.orderStatus===2,
                                'canceling':item.orderStatus===3,
                                'canceling':item.orderStatus===4,
                                'canceling':item.orderStatus===4,
                            }"
                        >{{getStatus(item.orderStatus, item.orderType, item.cancelOrder)}}</span></p>
                        <p class="btn" v-if="item.orderStatus===1">
                            <b class="cancel" @click="cancel(item.id)" v-if="item.cancelOrder===0&&item.orderType === 1">
                                取消订单
                            </b>
                            <b class="comfirm" @click="comfirm(item.id)" v-if="item.orderType===2">
                                确认收货
                            </b>
                            <router-link class="comfirm" tag="b" v-if="item.orderType===2" :to="{ path: 'queryexpressresult', query: { no: item.logisticNumber }}">物流详情
                    </router-link>
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
	export default {
		data(){
			return {
				list: [],
				state: "test",
                noData:false
			}
		},
		methods: {
			cancel(id){
				var self=this;
                var root=self.$root;
                root.doSomething=function () {
	                self.$http.post(self.$url("user/updateCancelOrder"), {id}).then(res => {
	                	if(res.data.code){
			                root.tipTxt="取消成功"
                        }else{
			                root.tipTxt=res.data.msg;
			                root.doSomething=function () {
				                root.tip=false
			                }
                        }
		                root.twoBtn=false;
		                root.tip=true
	                })
                }
                root.twoBtn=true;
                root.tipTxt="确定取消交易吗？"
                root.tip=true
			},
			comfirm(id){
				var self=this;
				var root=self.$root;
				root.doSomething=function () {
					self.$http.post(self.$url("user/collectOderById"), {id}).then(res => {
						if(res.data.code){
							root.tipTxt="确认收货成功"
						}else{
							root.tipTxt=res.data.msg;
							root.doSomething=function () {
								root.tip=false
							}
						}
						root.twoBtn=false;
						root.tip=true
					})
				}
				root.twoBtn=true;
				root.tipTxt="确认收货吗"
				root.tip=true
			},
			getStatus(state, type, cancel){
				var txt = "";
				var self = this;
				if (state === 1) {
					txt = "交易中";
				}
				if (state === 2) {
					txt = "交易成功";
				}
				if (state === 3) {
					txt = "交易取消"
				}
				if (state === 4) {
					txt = "交易取消"
				}
				return txt
			},
            getDate(){
	            var self = this;
	            self.$http.get(self.$url("user/selectOrdersByUserId")).then(res => {
		            self.list = res.data.data;
		            if(!res.data.data.length){
		            	self.noData=true;
                    }
	            });
            }
		},

		activated(){
			var self = this;
			document.title = "我的兑换"
			self.getDate();
		}
	}
</script>

<style lang="less">
    @import "../less/minxin";
    .noData{
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-size: 16px;
    }
    .exchange {
        background-color: #fff;
        li {
            .borderTop();
            position: relative;
            overflow: hidden;
            &:after {
                .tag
            }
            &.dealing {
                &:after {
                    content: "交易中";
                    background-color: #20c8c4;
                }
            }
            &.dealok {
                &:after {
                    content: "交易成功";
                    background-color: #41ca64;
                }
            }
            &.dealfail {
                &:after {
                    content: "交易失败";
                    background-color: #ff5c5b;
                }
            }
            &.dealcancel {
                &:after {
                    content: "交易取消";
                    background-color: #db785e;
                }
            }
            h3 {
                line-height: 36px;
                .padlr(15px);
                border-bottom: 1px solid #eee;
                font-weight: bold;
            }
            > div {
                .padlr(15px);
                .padtb(10px);
                .flex;
                h4 {
                    width: 30%;
                    height: auto;
                    .flex;
                    align-items: center;
                }
                div {
                    flex: 1;
                    padding-left: 10px;
                    .buying {
                        color: #19acff;
                    }
                    .success {
                        color: #41ca64;
                    }
                    .canceling {
                        color: #ff5c5b;
                    }
                }
                i {
                    color: #ff5c5b;
                }
                .btn {
                    text-align: right;
                    .padtb(4px)
                }
                b {
                    display: inline-block;
                    line-height: 26px;
                    .padlr(10px);
                    text-align: center;
                    border-radius: 13px;
                    &.cancel {
                        border: 1px solid #ff5c5b;
                        color: #ff5c5b;
                    }
                    &.comfirm {
                        border: 1px solid #19acff;
                        color: #19acff;
                    }
                }
            }
        }
    }
</style>
