<template>
    <div>
        <div class="noData" v-if="noData">暂无数据</div>
        <record :type="recordType" :list="recordList"></record>
    </div>
</template>

<script>
    import record from "./record";

    export default {
    	components:{
		    record
        },
        data(){
            return {
	            noData:false,
                recordType:"消费",
                recordList:[
                    {
                        time:"2017-3-1 10:00",
                        type:"积分兑换商品",
                        count:1000
                    },
                    {
                        time:"2017-3-1 10:00",
                        type:"积分兑换商品",
                        count:1000
                    },
                    {
                        time:"2017-3-1 10:00",
                        type:"积分兑换商品",
                        count:1000
                    }

                ]
            }
        },
	    activated(){
		    document.title="积分消费记录"
	    },
        created(){
		    var self=this;
		    self.$http.get(self.$url("user/selectScoreChangeByUserIdAndType","soretype=1")).then(res => {
			    self.recordList=res.data.data
			    if(!res.data.data.length){
				    self.noData=true;
			    }
		    });
	    }
    }
</script>

<style lang="less">

</style>
