<template>
    <div class="goods-info-wrap">
        <component :is="currentView" :sliderImgs="sliderImgs"></component>
        <div class="goods-info">
            <h1>{{goodsInfo.goodsName}}</h1>
            <div>
                <p>需<i>{{goodsInfo.goodsScore}}</i>积分</p>
                <p>您的可用积分<i>{{goodsInfo.abilityScore}}</i></p>
            </div>
        </div>
        <div class="goods-info-txt">
            <div>
                <h2 @click="tab=true" :class="{'this':!tab}">商品详情</h2>
                <h3 @click="tab=false" :class="{'this':tab}">兑换说明</h3>
            </div>
            <pre v-html="goodsInfo.goodsContent" v-if="tab"></pre>
            <pre v-html="goodsInfo.convertMsg?goodsInfo.convertMsg:'暂无说明'" v-if="!tab"></pre>
        </div>
        <router-link :to="{path:'submitorder',query:{url,name,need,infoId}}" tag="button" :disabled="!avalid">
            {{avalid ? "立即兑换" : "积分不足"}}
        </router-link>
    </div>
</template>

<script>
	import slider from "./slider.vue"
	export default{
		data(){
			return {
				tab:true,
				infoId: 0,
				goodsInfo: {},
				currentView:"",
                url:"",
                name:"",
                need:0,
                sliderImgs:[]
			}
		},
		components: {
			slider
		},
		computed: {
			avalid(){
				return this.goodsInfo.abilityScore - this.goodsInfo.goodsScore >= 0
			}
		},
		methods: {
			change(val){
				this.showTip = val;
			},
			introduce(){
				var root = this.$root;
				root.tip = true;
				root.type = 1;
				root.tipTxt = this.goodsInfo.convertMsg;
			}
		},
		activated(){
			document.title = "商品详情";
			var _this = this;
			_this.infoId = _this.$route.query.id;
			_this.url = _this.$route.query.url
			_this.name = _this.$route.query.name;
			_this.need = _this.$route.query.need;
			_this.$http.get(_this.$url("getGoodsInfo", "id=" + _this.$route.query.id)).then(res => {
				if (res.data.code) {
					_this.goodsInfo = res.data.data;
					_this.txt = res.data.data.convertMsg;
					_this.currentView="slider";
					_this.sliderImgs=_this.goodsInfo.goodsImages;
					_this.$root.doSomething=function () {
                        _this.$root.tip=false
					}
				}
			});
		}
	}
</script>

<style lang="less">
    @import "../less/minxin";

    .goods-info-wrap {
        background: #fff;
        min-height: 100vh;
        padding-top: 20px;
        .goods-info {
            h1 {
                font-size: 16px;
                color: @titleColor;
                /*font-weight: bold;*/
                text-align: center;
                line-height: 36px;
            }
            > div {
                .flex;
                color: #999;
                line-height: 36px;
                justify-content: space-between;
                padding: 0 15px;
                i {
                    color: #19acff;
                }
            }
        }
        .goods-info-txt {
            .padlr(15px);
            .padtb(15px);
            padding-bottom: 50px;
            border-top: 10px solid #eee;
            > div {
                .flex;
                justify-content: space-between;
                height: 30px;
                h2,h3 {
                    color: #333;
                    &.this{
                        color: #19acff;
                    }
                }

            }
            p {
                line-height: 20px;
                color: #444;
            }
        }
        button {
            .bigBtn();
            .fixBtm;
            border: none;
            outline: none;
            &:active, &:hover {
                background-color: #7b96fc;
            }
        }
        button[disabled] {
            background-color: #ccc;
        }
    }
</style>
