<template>
    <div class="intergral-wrap">
        <div class="user-info">
            <img :src="userInfo.headImg" alt="" width="68" height="68">
            <dl>
                <dt>尊敬的<span>{{userInfo.nickName}}</span></dt>
                <dd>您当前的可用积分：<b>{{userInfo.abilityScore}}</b></dd>
                <dd>当前总积分：<b>{{userInfo.userScore}}</b></dd>
            </dl>
        </div>
        <div class="goods">
            <dl>
                <dt>可兑换礼品</dt>
                <dd>
                    <ul>
                        <li v-for="item of availableGoods">
                            <router-link :to="{ path: 'goodsinfo', query: { id: item.id,url:item.goodsImg,name:item.goodsName,need:item.goodsScore}}">
                                <figure><img :src="item.goodsImg" alt=""></figure>
                                <figcaption>
                                    <h2>{{item.goodsName}}</h2>
                                    <div>
                                        <p><span class="icon icon-jifen"></span>需<b>{{item.goodsScore}}</b>积分</p>
                                    </div>

                                </figcaption>
                            </router-link>
                        </li>
                    </ul>
                </dd>
            </dl>
            <dl>
                <dt>不可兑换礼品</dt>
                <dd>
                    <ul>
                        <li v-for="item of unAvailableGoods">
                            <router-link :to="{ path: 'goodsInfo', query: { id: item.id,url:item.goodsImg,name:item.goodsName,need:item.goodsScore}}">
                                <figure><img :src="item.goodsImg" alt=""></figure>
                                <figcaption>
                                    <h2>{{item.goodsName}}</h2>
                                    <div>
                                        <p><span class="icon icon-jifen"></span>需<b>{{item.goodsScore}}</b>积分</p>
                                        <p>差<b>{{item.goodsScore - userInfo.abilityScore}}</b>积分</p>
                                    </div>

                                </figcaption>
                            </router-link>
                        </li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
</template>

<script>
	export default{
		data(){
			return {
				marginBtm: 0,
				userInfo: {},
				goods: [],
				availableGoods: [],
				unAvailableGoods: []
			}
		},
		activated(){
			document.title = "积分兑换";
			var _this = this;
			function getCurrentUserinfo() {
				return _this.$http.get(_this.$url("getCurrentUserinfo"))
			}
			function getAvailableGoods() {
				return _this.$http.get(_this.$url("getAvailableGoods","pageNumber=1&pageSize=1000"))
			}

			function getNotAvailableGoods() {
				return _this.$http.get(_this.$url("getNotAvailableGoods","pageNumber=1&pageSize=1000"))
			}

			_this.$http.all([getCurrentUserinfo(),getAvailableGoods(), getNotAvailableGoods()])
				.then(_this.$http.spread(function (user,available,unavailable) {
					if(user.data.code===-1){
						window.location.href="http://www.zhonglingfeng.cn/towxLogin.shtml"
                    }else if(user.data.code===0){
						_this.$root.doSomething=function () {
                            _this.$root.tip=false
						}
						_this.$root.tipTxt=user.data.msg
						_this.$root.tip=true
                    }else{
						_this.userInfo = user.data.data;
						_this.availableGoods = available.data.data;
						_this.unAvailableGoods = unavailable.data.data
                    }
				}))
		},
		mounted(){
			window.onscroll = (e) => {
				const sh = document.body.scrollHeight;
				const st = document.body.scrollTop;
				const winHieght = document.documentElement.clientHeight;
				this.marginBtm = sh - st - winHieght
			}
		},
		created(){

		}
	}
</script>

<style lang="less">
    @import "../less/minxin";

    .intergral-wrap {
        .user-info {
            .graytop;
            .padlr(15px);
            .padtb(20px);
            background-color: #fff;
            display: flex;
            align-items: center;
            > img {
                border-radius: 50%;
            }
            > dl {
                flex: 1;
                padding-left: 18px;
                > dt {
                    font-weight: bold;
                    color: #222;
                    line-height: 26px;
                }
                > dd {
                    font-size: 12px;
                    color: @textcolor;
                    line-height: 22px;
                }
                b {
                    color: #19acff;
                }
            }
        }
        .goods {
            > dl {
                .graytop;
                .padlr(15px);
                .padtb(10px);
                background-color: #fff;
                dt {
                    height: 26px;
                    border-bottom: 1px solid #eee;
                }
                dd {
                    .padtb(10px)
                }
                ul {
                    display: flex;
                    flex-wrap: wrap;
                }

                li {
                    width: 48%;
                    .padtb(4px);

                    &:nth-child(2n+1) {
                        margin-right: 4%;
                    }
                }
                figure {
                    text-align: center;
                    border: 1px solid #eee;
                }
                img {
                    border-radius: 4px;
                    width: auto;
                    height: 2rem;
                    border-radius: 4px;
                }
                figcaption {
                    display: flex;
                    margin-top: 4px;
                    justify-content: space-between;
                    h2 {
                        color: #222;
                    }
                    div {
                        color: @textcolor;
                        text-align: right;
                    }
                    b {
                        color: #19acff;
                    }
                    p {
                        overflow: hidden;
                        -ms-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

        }
    }

</style>
