<template>
    <div class="loading" @touchstart="prevent">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
</template>

<script>
    export default {
        methods:{
          prevent(e){
              e.preventDefault()
          }
        }
    }
</script>

<style lang="less">
    @import "../less/minxin";
    .loading{
        position: fixed;
        left:0px;
        top:0px;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-color: rgba(0,0,0,0.5);
        .flex;
        align-items: center;
        justify-content: center;
        .spinner {
            width: 100%;
            text-align: center;
        }

        .spinner > div {
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 50%;
            display: inline-block;
            animation: bouncedelay 1.4s infinite ease-in-out;
            animation-fill-mode: both;
        }

        .spinner .bounce1 {
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            animation-delay: -0.16s;
        }
        @keyframes bouncedelay {
            0%, 80%, 100% {
                transform: scale(0.0);
            } 40% {
                  transform: scale(1.0);
              }
        }
    }

</style>
