<template>
    <div class="myAddress">
        <div class="noData" v-if="noData">暂无收货地址</div>
        <div v-if="!select">
            <ul>
                <li v-for="(item,index) of list" :class="{'this':item.addressType===1}"
                    @click="checkReturnSubmitOrder(item.addressType,item.contact,item.phone,item.addressAll)">
                    <h1><b>联系人：{{item.contact}}</b></h1>
                    <h2>
                        <span>联系电话：</span>
                        <p>{{item.phone}}</p>
                    </h2>
                    <h2>
                        <span>地址：</span>
                        <p>{{item.addressAll}}</p>
                    </h2>
                    <h1 class="btns">
                    <span class="icon icon-morendizhi"><i
                            @click.stop="setDefault(item.addressType,item.id)">{{item.addressType === 1 ? "默认地址" : "设为默认"}}</i></span>
                        <p>
                            <span class="icon icon-bianji" @click.stop="update(index)">编辑</span>
                            <span class="icon icon-shanchu" @click.stop="del(item.id)">删除</span>
                        </p>
                    </h1>
                </li>
            </ul>
            <a @click="addNewAddress">新增收货地址</a>
            <div class="addNewAddress" v-if="isAddressShow">
                <div>
                    <h6 :class="{
'err':newList.contact.length<2}"><span>联系人</span><input v-model="newList.contact" type="text" ref="contact"
                                                        placeholder="请输入您的名字"></h6>
                    <h6 :class="{
'err':!/^1[345789]\d{9}$/.test(newList.phone)}"><span>联系电话</span><input type="text" v-model="newList.phone"
                                                                        placeholder="请输入手机号码"></h6>
                    <h6 :class="{
'err':newList.addressDetails.length<5}"><span>地址</span>
                        <p>
                            <strong @click="getProvince">点击选择城市</strong>
                            <i>
                                {{newList.provinceName}}
                                {{newList.cityName}}
                                {{newList.areaName}}
                            </i>
                            <textarea ref="test" v-model="newList.addressDetails"
                                      placeholder="请先选择城市,然后再输入详细街道地址"></textarea>
                        </p>
                    </h6>
                    <h6><i @click="save">确定</i><i @click="isAddressShow=false">取消</i></h6>
                </div>
            </div>
        </div>
        <div class="selectAddress" v-if="select">
            <p @click="reChoose" v-if="newAddress.province"><b v-for="item of newAddress">{{item}}</b></p>
            <dl v-if="province.show">
                <dd v-for="item of province.data" :data-id="item.id" @click="chooseProvince(item.id)">
                    {{item.province}}

                </dd>
            </dl>
            <dl v-if="citys.show">
                <dd v-for="item of citys.data" :data-id="item.id" @click="chooseCity(item.id)">{{item.city}}</dd>
            </dl>
            <dl v-if="towns.show">
                <dd v-for="item of towns.data" :data-id="item.id" @click="chooseTown(item.id)">{{item.area}}</dd>
            </dl>
        </div>
    </div>
</template>

<script>
	import tips from "./tips";
	export default {
		data(){
			return {
				noData:false,
				index: null,
				isAddressShow: false,
				select: false,
				index: 0,
				isUpdete: true,
				newList: {
					id:"",
					addressType:"",
					phone:"",
					contact:"",
					addressDetails:"",
					addressAll:"",
					proviceId:"",
                    cityId:"",
                    areaId:"",
					provinceName:"",
                    cityName:"",
                    areaName:""
                },
				list: [],
				province: {
					show: false,
					data: []
				},
				citys: {
					show: false,
					data: []
				},
				towns: {
					show: false,
					data: []
				},
				newAddress: {
					province: "",
					city: "",
					town: ""
				}
			}
		},
		activated(){
			document.title = "我的地址";
			var self = this;
			self.$http.get(self.$url("selectAddressByUserId")).then(res => {
				var data = res.data.data;
				if(!data.length){
					self.noData=true;
				}
				for (var i in data) {
					if (data[i].addressType === 1) {
						var newArr = data.splice(i, 1);
						data.unshift(newArr[0]);
						break
					}
				}
				self.list = data;
			});
		},
		methods: {
			update(index){
				var self = this;
				self.isAddressShow = true;
				for (var i in self.list[index]) {
					self.newList[i] = self.list[index][i];
				}
				self.isUpdete = true;
			},
			del(id){
				var self = this;
				var root = self.$root;
				root.tipTxt = "是否删除改地址";
				root.twoBtn = true;
				root.tip = true;
				root.doSomething = function () {
					self.$http.post(self.$url("deleteAddress"), {id}).then(res => {
						if (res.data.code) {
							root.tipTxt = "删除成功"
						} else {
							root.tipTxt = res.data.msg;
							root.doSomething = function () {
								root.tip = false
							}
						}
						root.twoBtn = false;
						root.tip = true
					})
				}
			},
			save(){
				var self = this;
				var list = self.newList;
				var root = self.$root;
				if (
					list.contact.length < 2 ||
					!/^1[345789]\d{9}$/.test(list.phone) ||
					list.addressDetails.length < 5||
					list.provinceName.length===0
				) {
					root.doSomething = function () {
						root.tip = false
					}
					root.tipTxt = "信息不完整或格式不正确";
					root.tip = true
				} else {
					var info = {
						proviceId: list.proviceId,
						cityId: list.cityId,
						areaId: list.areaId,
						addressDetails: list.addressDetails,
						phone: list.phone,
						contact: list.contact
					};
					var url,txt;
					if (self.isUpdete) {
						info.id=list.id;
						info.addressType=list.addressType;
						url="updateAddress";
						txt="修改成功"
					} else {
						info.addressType=1;
						url="addAddress";
						txt="添加成功"
					}
					self.$http.post(self.$url(url),info).then(res => {
						var data = res.data
						if (data.code) {
							root.doSomething = function () {
								window.location.reload()
							}
							root.tipTxt = txt;

						} else {
							root.doSomething = function () {
								root.tip = false
							}
							root.tipTxt = data.msg
						}
						root.tip = true
					})
				}
			},
			setDefault(type, id){
				if (type === 1) {
					return
				}
				var self = this;
				var root = self.$root
				self.$http.post(self.$url("updateAddress"), {id, addressType: 1}).then(res => {
					if (res.data.code) {
						root.tipTxt = "修改成功"
					} else {
						root.tipTxt = res.data.msg;
						root.doSomething = function () {
							root.tip = false
						}
					}
					root.twoBtn = false;
					root.tip = true
				})
			},
			getProvince(){
				var self = this;
				self.select = true
				self.$http.get(self.$url("selectProvinceAll")).then(res => {
					self.province.show = true
					self.province.data = res.data.data;
				});
			},
			chooseProvince(id){
				var e = event;
				var self = this;
				self.$http.get(self.$url("selectCityAllByProvinceId", "provinceId=" + id)).then(res => {
					self.province.show = false;
					self.citys.data = res.data.data;
					self.newAddress.province=self.newList.provinceName = e.target.innerText;
					self.citys.show = true;
					self.newList.proviceId = e.target.dataset.id
				});
			},
			chooseCity(id){
				var e = event;
				var self = this;
				self.$http.get(self.$url("selectAreaAllByCityId", "cityId=" + id)).then(res => {
					self.citys.show = false;
					self.towns.data = res.data.data;
					self.newAddress.city=self.newList.cityName = e.target.innerText
					self.newList.cityId = e.target.dataset.id
					self.towns.show = true
				});
			},
			chooseTown(id){
				var e = event;
				var self = this;
				self.$http.get(self.$url("selectAreaAllByCityId", "cityId=" + id)).then(res => {
					self.towns.show = false
					self.newAddress.town=self.newList.areaName = e.target.innerText;
					self.select = false;
					self.newList.areaId = e.target.dataset.id
					setTimeout(() => {
						self.$refs.test.focus()
					})
				});
			},
			reChoose(){
				this.province.show = true
			},
			addNewAddress(){
				var self = this;
				self.isAddressShow = true;
				var nList = self.newList;
				for (var i in nList) {
					nList[i] = ""
				}
				;
				setTimeout(() => {
					self.$refs.contact.focus()
				})
				self.isUpdete = false
			},
			checkReturnSubmitOrder(type, contact, phone, all){
				var self = this;
				var arg = self.$route.query.type;
				if (arg === "choose") {
					if (type !== 1) {
						var addressInfo = {
							contact,
							phone,
							all
						}
						window.localStorage.setItem("chooseAddress", JSON.stringify(addressInfo))
					}
					window.history.go(-1)
				}
			}
		},

		created(){

		}
	}
</script>

<style lang="less">
    @import "../less/minxin";

    .myAddress {
        .bg();
        min-height: 100vh;
        padding-bottom: 50px;
        li {
            border-bottom: 10px solid #eee;
            .icon {
                font-size: 14px;
                color: #939393;
            }
            h1 {
                .padtb(8px);
                .flex;
                justify-content: space-between;
                p {
                    span {
                        .padlr(4px)
                    }
                }
            }
            h2 {
                .padtb(8px);
                .flex;
                p {
                    flex: 1;
                }
            }
            span {
                &:before {
                    font-size: 14px;
                    padding-right: 4px;
                }
            }
            &.this {
                h1 > span {
                    &:before {
                        color: #19acff;
                    }
                }
            }
            h1 > span {
                &:before {
                    font-size: 18px;
                    vertical-align: middle;
                }
            }
            .btns {
                border-top: 1px solid #eee;
                .padtb()
            }
            h1, h2, h3 {
                .padlr(15px);
            }
        }
        i {
            vertical-align: middle;
        }
        a {
            .bigBtn();
            position: fixed;
            bottom: 0px;
            left: 0px;
            width: 100%;
            border-radius: 0px;
            z-index: 10;
        }
        .addNewAddress {
            position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 11;
            left: 0px;
            top: 0px;
            .flex;
            justify-content: center;
            align-items: center;
            > div {
                background-color: #fff;
                width: 90%;
                padding: 15px;
                padding-bottom: 0px;
                border-radius: 10px;
                h6 {
                    .padtb(10px);
                    border-bottom: 1px solid #eee;
                    .flex;
                    &:last-child {
                        padding: 0;
                        justify-content: space-around;
                        i {
                            flex: 1;
                            text-align: center;
                            .padtb();
                            &:first-child {
                                border-right: 1px solid #eee;
                            }
                        }
                    }
                    &.err {
                        input, textarea {
                            color: #ff5c5b;
                        }
                    }
                    p {
                        i {
                            display: block;
                            line-height: 18px;
                            padding: 4px;
                        }
                    }
                }
                span {
                    padding-right: 10px;
                    width: 1.5rem;
                }
                input, p {
                    flex: 1;
                }
                input, textarea {
                    color: #666;
                    border: none;
                    outline: none;
                }
                textarea {
                    width: 100%;
                    resize: none;
                    border: 1px #eee solid;
                    border-radius: 6px;
                    line-height: 20px;
                    height: 70px;
                    margin-top: 4px;
                    -webkit-appearance: none;
                }
                strong {
                    display: inline-block;
                    padding: 4px 10px;
                    background-color: #19acff;
                    color: #fff;
                }
            }
        }
        .selectAddress {
            h5 {
                .padtb();
                .padlr();
                .flex;
                justify-content: space-between;
                i {
                    padding: 5px 10px;
                    border-radius: 3px;
                    color: #fff;
                    &:first-child {
                        background-color: #ff5c5b;
                    }
                    &:last-child {
                        background-color: #7b96fc;
                    }
                }
            }
            p {
                background-color: #f1f1f1;
                height: 40px;
                line-height: 40px;
                .padlr();
                b {
                    padding-right: 10px;
                }
            }
            > dl {
                clear: both;
                width: 100%;
                .padlr();
                .padtb();
            }
            dd {
                line-height: 36px;
                border-bottom: 1px solid #eee;
            }
        }
    }

</style>
