<template>
    <div class="mybill">
        <picker-date v-if="showPicker" :target="target"></picker-date>
        <div class="chooseTime">
            <h2>请选择时间</h2>
            <div>
                <p @click="choose1">{{stime}}</p>
                <span>至</span>
                <p @click="choose2">{{etime}}</p>
            </div>
            <a @touchstart="query">查询</a>
        </div>
        <div class="list">
            <ul>
                <li v-for="item of list" :class="item.accountStatus===1?'no-pay':'pay'">
                    <h2>
                        时间:<span>{{item.accountTime}}</span>
                    </h2>
                    <h2>经办人：<span>{{item.trustee}}</span></h2>
                    <h2>产品:<span>{{item.goodsName}}</span></h2>
                    <h2>数量:<span>{{item.goodsNumber}}</span></h2>
                    <h2>金额:<span>{{item.sumAmount}}</span></h2>
                    <h2>物流公司:<span>{{item.logistics}}</span></h2>
                    <h2 :class="item.goodsStatus===1?'no':'ok'">发货状态:<span
                            v-text="item.goodsStatus===1?'未发货':item.goodsStatus===2?'已发货':'已收货'"></span></h2>
                    <h2>物流单号:<span>{{item.logisticNumber}}</span></h2>
                    <h2><a @click="comfirm(item.id)" class="comfirm" v-if="item.goodsStatus===2">确认收货</a></h2>
                    <router-link class="logisticInfo" v-if="item.goodsStatus!==1"
                                 :to="{ path: 'queryexpressresult', query: { no: item.logisticNumber }}">物流详情
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
	import pickerDate from "./pickerDate"
	import tips from "./tips"
	import loading from "./loading"
	export default {
		data(){
			return {
				showPicker: false,
				stime: "点击选择",
				etime: "点击选择",
				target: 1,
				txt: "",
				list: []
			}
		},
		methods: {
			change(val){
				this.showTip = val;
			},
			toggleTip(){
				this.showTip = true;
			},
			choose1(){
				this.showPicker = true;
				this.target = 1;
			},
			choose2(){
				this.showPicker = true;
				this.target = 2;
			},
			query(e){
				var self = this;

				function resolveTime(t) {
					return new Date(t).getTime()
				}

				var s = resolveTime(self.stime), e = resolveTime(self.etime)
				if (!s || !e || e - s < 0) {
					self.$root.doSomething=function () {
						self.$root.tip=false
					}
					self.$root.tipTxt = "日期格式不正确"
					self.$root.tip = true
				} else {
					self.$http.get(self.$url("user/selectAccountByUserId", "begindate=" + self.stime + "&enddate=" + self.etime)).then(res => {
						self.list = res.data.data;
						self.$root.type = 2
					});
				}

			},
			comfirm(id){
				var self=this;
				var root=self.$root;
				root.doSomething=function () {
					self.$http.post(self.$url("user/collectAccountById"), {id}).then(res => {
						if(res.data.code){
							root.tipTxt="确认收货成功"
						}else{
							root.tipTxt=res.data.msg;
							root.doSomething=function () {
								root.tip=false
							}
						}
						root.twoBtn=false;
						root.tip=true
					})
				}
				root.twoBtn=true;
				root.tipTxt="确认收货吗"
				root.tip=true
            }
		},
		components: {pickerDate},
		activated(){
			document.title = "我的账单";
			var self = this;
			self.$http.get(self.$url("user/selectAccountByUserId")).then(res => {
				if (res.data.code === -1) {
					window.location.href = "http://www.zhonglingfeng.cn/towxLogin.shtml"
				} else if (res.data.code === 0) {
					self.$root.doSomething = function () {
						self.$root.tip = false
					}
					self.$root.tipTxt = user.data.msg
					self.$root.tip = true
				} else {
					self.list = res.data.data;
				}
			});
		}
	}
</script>

<style lang="less">
    @import "../less/minxin";

    .mybill {
        .chooseTime {
            .bg();
            .padlr(15px);
            .padtb(15px);
            font-size: 15px;
            h2 {
                height: 24px;
            }
            > div {
                .flex;
                justify-content: space-between;
                line-height: 36px;
            }
            p {
                flex: 1;
                .bg(#eee);
                text-align: center;
                border-radius: 4px;
                font-size: 14px;
            }
            span {
                padding: 0 16px;
            }
            a {
                display: block;
                margin-top: 20px;
                .bigBtn(@height: 40px)
            }
        }
        .list {
            .bg();
            li {
                .borderTop();
                .padlr(15px);
                .padtb(15px);
                overflow: hidden;
                transform: rotate(0deg);
                .flex;
                flex-wrap: wrap;
                position: relative;
                &:after {
                    .tag
                }
                &.pay {
                    &:after {
                        content: "已付款";
                        background-color: #19acff;
                    }
                }
                &.no-pay {
                    &:after {
                        content: "未付款";
                        background-color: #ff5c5b;
                    }
                }
            }
            h2 {
                line-height: 24px;
                &:nth-child(2n+1) {
                    width: 60%;
                }
                &:nth-child(2n) {
                    width: 40%;
                }
                &.no {
                    span {
                        color: #ff5c5b;
                    }
                }
                &.ok {
                    span {
                        color: #19acff;
                    }
                }
            }
            a {
                display: block;
                width: 75px;
                line-height: 20px;
                border-radius: 12px;
                text-align: center;
                &.comfirm{
                    border: 1px solid #19acff;
                    color: #19acff;
                }
                &.logisticInfo{
                    border: 1px solid #41ca64;
                    color: #41ca64;
                }
            }
        }

    }
</style>
