<template>
<div class="my-center">
    <div class="avatar">
        <img width="80" height="80" :src="user.headImg" alt="">
        <h2>你好，{{user.nickName}}</h2>
        <p>
            <span class="icon icon-xingxing" v-for="i of user.level"></span>
            <b>{{level}}星代理商</b>
        </p>
    </div>
    <div class="score">
        <div>
            <h3><span class="icon icon-jifen"></span></h3>
            <div>
                <p>当前可用积分</p>
                <b>{{user.abilityScore}}</b>
            </div>
        </div>
        <div>
            <h3><span class="icon icon-jifen"></span></h3>
            <div>
                <p>本月新增积分</p>
                <b>{{user.thisMonthScore}}</b>
            </div>
        </div>
    </div>
    <ul class="my-center-list">
        <li>
            <router-link to="/exchange">
                <span class="icon icon-wodeduihuan"></span>
                <b>我的兑换</b>
                <i></i>
            </router-link>
        </li>
        <li>
            <router-link to="/expenserecord">
                <span class="icon icon-xiaofeijilu"></span>
                <b>积分消费记录</b>
                <i></i>
            </router-link>
        </li>
        <li>
            <router-link to="/newrecord">
                <span class="icon icon-xinzengjilu"></span>
                <b>积分新增记录</b>
                <i></i>
            </router-link>
        </li>
        <li>
            <router-link to="/myaddress">
                <span class="icon icon-wodedizhi"></span>
                <b>我的地址</b>
                <i></i>
            </router-link>
        </li>
        <li>
            <router-link to="/notice">
                <span class="icon icon-duihuanxuzhi"></span>
                <b>兑换须知</b>
                <i></i>
            </router-link>
        </li>
    </ul>
</div>
</template>

<script>
    export default{
    	data(){
    	    return {
		        user:{}
            }
        },
	    computed:{
    	    level(){
    	    	var lev=this.user.level-1;
    	    	var arr=["一","二","三","四","五"];
    	    	return arr[lev]
            }
        },
	    activated(){
		    document.title="个人中心";
	    },
	    created(){
		    var self=this;
		    self.$http.get(self.$url("selectUserInfofById")).then(res => {
			    if (res.data.code === -1) {
				    window.location.href = "http://www.zhonglingfeng.cn/towxLogin.shtml"
			    } else if (res.data.code === 0) {
				    self.$root.doSomething = function () {
					    self.$root.tip = false
				    }
				    self.$root.tipTxt = user.data.msg
				    self.$root.tip = true
			    } else {
				    self.user=res.data.data
			    }

		    });
	    }
    }
</script>

<style lang="less">
@import "../less/minxin";
.my-center{
    .avatar{
        height:200px;
        .flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background:url(/images/avatar-bg.png) no-repeat;
        background-size: 100% 100%;
        img{
            border-radius: 50%;
            border: 3px solid rgba(255,255,255,0.6);
        }
        h2{
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            margin-top: 10px;
        }
        p{
            margin-top: 10px;
            font-size: 12px;
            .icon{
                color: #fff100;
            }
            b{
                color: #fff;
            }
        }
    }
    .score{
        background-color: #fff;
        .padtb(25px);
        overflow: hidden;
        >div{
            float: left;
            width: 50%;
            .flex;
            justify-content: center;
            align-items: center;
            &:first-child{
                border-right: 1px solid #e2e2e2;
            }
            &:nth-child(1){
                h3{

                    background-color: #7ecef4;
                }
            }
            &:nth-child(2){
                h3{

                    background-color: #7b96fc;
                }
            }
            >div{
                padding-left: 10px;
            }
            p{
                color: #888;
            }
        }
        h3{
            width:26px;
            height:26px;
            border-radius: 50%;
            padding: 6px;
            box-sizing: content-box;
            span{
                font-size: 24px;
                color: #fff;
            }
        }
    }
    .my-center-list{
        .borderTop();
        background-color: #fff;
        padding-left: 10px;
        li{
            font-size: 14px;
            .padtb(15px);
            border-bottom: 1px solid #e2e2e2;
            a{
                display: block;
            }
            span{
                font-size: 20px;
                padding-right: 10px;
                vertical-align: middle;
            }
            b{
                font-weight: bold;
                color: #333;
            }
            &:nth-child(1){
                span{
                    color: #7ecef4;
                }
            }
            &:nth-child(2){
                span{
                    color: #7b96fc;
                }
            }
            &:nth-child(3){
                span{
                    color: #7b96fc;
                }
            }
            &:nth-child(4){
                span{
                    color: #a97bfc;
                }
            }
            &:nth-child(5){
                border: none;
                span{
                    color: #fc7bbe;
                }
            }
            i{
                float: right;
                width: 12px;
                height:12px;
                border: 2px solid #ccc;
                border-left: none;
                border-bottom: none;
                transform: rotate(45deg) translateY(8px);
                margin-right: 10px;
            }
        }
    }
}
</style>
