<template>
    <div>
        <div class="noData" v-if="noData">暂无数据</div>
        <record :type="recordType" :list="recordList"></record>
    </div>
</template>

<script>
    import record from "./record";

    export default {
        data(){
            return {
	            noData:false,
                recordType:"新增",
                recordList:[]
            }
        },
	    components:{
		    record
        },
	    activated(){
            document.title="积分新增记录"
        },
        created(){
	        var self=this;
	        self.$http.get(self.$url("user/selectScoreChangeByUserIdAndType","soretype=2")).then(res => {
	        	self.recordList=res.data.data
		        if(!res.data.data.length){
			        self.noData=true;
		        }
	        });
        }
    }
</script>

<style lang="less">

</style>
