<template>
    <div class="notice">
        <p>{{txt}}</p>
    </div>
</template>

<script>
	export default {
		data(){
		    return {
		    	txt:""
            }
        },
		activated(){
			document.title="兑换须知"
		},
        created(){
			var self=this;
	        self.$http.get(self.$url("user/selectNotice")).then(res => {
	        	self.txt=res.data.data.notice
	        })
        }
	}
</script>

<style lang="less">
.notice{
    min-height:100vh;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    line-height: 22px;
    padding: 10px;
    text-indent: 2em;
}
</style>
