<template>
    <div class="date-wrapper" @click="getFocus">
        <div class="date-container">
            <h1>
                <span @click="focusYear">{{year}}</span>年
                <span @click="focusMonth">{{month}}</span>月
                <span @click="focusDate">{{date}}</span>日
            </h1>
            <div class="comfirm-btn" @click="submit">
                确定
            </div>
        </div>
            <ul v-show="isYear" id="year">
                <li v-for="i of (dateYear-1969)">{{1969 + i}}</li>
            </ul>
            <ul v-show="isMonth" id="month">
                <li v-for="i of 12" :class="{'disabled':year==dateTime.getFullYear()&&i>dateTime.getMonth()+1}">{{i}}</li>
            </ul>
            <ul v-show="isDate" id="date">
                <li v-for="i of dateDate" :class="{'disabled':year==dateTime.getFullYear()&&month==(dateTime.getMonth()+1)&&i>dateTime.getDate()}">{{i}}</li>
            </ul>
    </div>
</template>

<script>
    var dateTime = new Date();
    export default {
        props:["target"],
        data(){
            return {
                dateTime:new Date(),
                dateYear: dateTime.getFullYear(),
                dateDate: 0,
                isYear: true,
                isMonth: false,
                isDate: false,
                year: dateTime.getFullYear().toString(),
                month: (dateTime.getMonth() + 1).toString(),
                date: dateTime.getDate().toString(),
                checkYear:"",
                checkMonth:"",
                checkDate:"",
            }
        },
        mounted(){
            this.dateDate = this.calcDate(this.month.toString())
        },
        methods: {
            calcDate(m){
                var month = 0
                switch (m) {
                    case "1":
                    case "3":
                    case "5":
                    case "7":
                    case "8":
                    case "10":
                    case "12":
                        month = 31;
                        break;
                    case "4":
                    case "6":
                    case "9":
                    case "11":
                        month = 30;
                        break;
                    case "2":
                        if (this.year % 4 === 0 || (this.year % 400 === 0)) {
                            month = 29
                        } else {
                            month = 28
                        }
                }
                return month
            },
            getFocus(e){
                var _focus = e.target,_this=this;
                if (_focus.nodeName.toLowerCase() === "li"&&_focus.className!=="disabled") {
                    _focus.className = "this";
                    setTimeout(() => {
                        if (_focus.parentNode.id === "year") {
                            if(_this.checkYear){
                                _this.checkYear.removeAttribute("class");
                            }
                            _this.checkYear=_focus;
                            _this.year = _focus.innerText;
                            _this.isYear = false;
                            _this.isMonth = true;
                        } else if (_focus.parentNode.id === "month") {
                            if(_this.checkMonth){
                                _this.checkMonth.removeAttribute("class");
                            }
                            _this.checkMonth=_focus;
                            _this.month = _focus.innerText;
                            _this.isMonth = false;
                            _this.isDate = true;
                            _this.dateDate = _this.calcDate(_this.month)
                        } else {
                            if(_this.checkDate){
                                _this.checkDate.removeAttribute("class");
                            }
                            _this.checkDate=_focus;
                            _this.date = _focus.innerText;
                        }
                    }, 200)
                }
            },
            focusYear(){
                this.isYear = true;
                this.isMonth = this.isDate = false;
            },
            focusMonth(){
                this.isMonth = true;
                this.isYear = this.isDate = false;
            },
            focusDate(){
                this.isYear = this.isMonth = false;
                this.isDate = true;
            },
            submit(){
                var _this=this;
                if(_this.year==_this.dateTime.getFullYear()&&_this.month>=(_this.dateTime.getMonth()+1)&&_this.date>_this.dateTime.getDate()){
                    return
                }
                if(_this.month<10){
                    _this.month="0"+_this.month
                }
	            if(_this.date<10){
		            _this.date="0"+_this.date
	            }
                var time=_this.year+"-"+_this.month+"-"+_this.date;
                if(_this.target===1){
                    _this.$parent.stime=time
                }else{
                    _this.$parent.etime=time
                }
                _this.$parent.showPicker=false;
            }
        }
    }
</script>

<style lang="less">
    @import "../less/minxin";

    .date-wrapper {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 2;
        height: 100%;
        background-color: #fff;
        width: 100%;
        ul {
            .flex;
            flex-wrap: wrap;
            li {
                width: calc(100% / 7);
                text-align: center;
                .padtb(10px);
                border-bottom: 1px solid #eee;
                border-right: 1px solid #eee;
                &.this {
                     background-color: #19acff;
                     color: #fff;
                 }
                &.disabled {
                    background-color: #fefefe;
                    color: #ccc;
                }
            }
        }
        .date-container{
            .flex;
            justify-content: space-between;
            color: #fff;
            font-size: 16px;
        }
        .comfirm-btn{
            .smallBtn();
        }
        h1 {
            flex: 1;
            padding: 15px;
            background-color: #19acff;

            span {
                width: 33.333%;
                padding:0 10px ;
            }
        }
    }
</style>
