<template>
    <div class="queryResultPage">
        <iframe id="ifr" :src="no" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</template>

<script>
	export default {
		data(){
		    return {
		    	no:""
            }
        },
		beforeCreate(){
		    this.$root.loading=true
        },
		mounted(){
			var self=this;
		    var ifr=document.querySelector("iframe")
            ifr.width=window.innerWidth;
            ifr.height=window.innerHeight;
            ifr.onload=function () {
	            self.$root.loading=false
            }
        },
		activated(){
			document.title = "查询结果";
			this.no="https://m.kuaidi100.com/result.jsp?nu="+this.$route.query.no
		}
	}
</script>

<style lang="less">
    @import "../less/minxin";

    .queryResultPage {
        width: 100%;
        height:100%;
    }
    #ifr{

    }
</style>
