<template>
    <div class="recordList">
        <ul>
            <li v-for="item of list">
                <div>{{type}}时间：{{item.changetime}}</div>
                <div>{{type}}类型：{{item.changereason}}</div>
                <div>{{type}}积分：{{item.changenumber}}</div>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        props:["type","list"]
    }
</script>

<style lang="less">
    @import "../less/minxin";
.recordList{
    .bg();
    .borderTop();
    li{
        .padtb(15px);
        .padlr(15px);
        .grayborder();
        line-height: 26px;
    }
}
</style>
