<template>
    <div class="slider" ref="slider">
        <ul ref="slider">
            <li v-for="item of imgs"><img alt="" :src="item.imagesPath"></li>
        </ul>
        <p><b v-for="i of num" :class="{'this':i-1==idx}"></b></p>
    </div>
</template>

<script>
	export default {
		data(){
			return {
				imgs:this.sliderImgs,
                timer:null,
                num:this.sliderImgs.length,
                idx:0
            }
        },
		props: ["sliderImgs"],
		methods:{
            slider(){
            	var _this=this;
            	var slider={
            		init(){
            			var self=this;
			            self.oneWidth=window.innerWidth;
			            self.wrap=_this.$refs.slider;
			            self.box=_this.$refs.slider.children[0];
			            self.disTance=window.innerWidth/3

			            self.box.style.width=_this.num*self.oneWidth+"px";
			            self.box.style.transform="translate3d(0px, 0px, 0px)"
                    },
                    getCss(){
            		    var x=getComputedStyle(this.box,false).transform;
            		    return x.split(",")[4]*1
                    },
                    doing(){
	                    _this.idx=_this.idx<0?_this.num-1:_this.idx;
                        _this.idx%=_this.num;
	                    this.box.style.transform=`translate3d(${-_this.idx*this.oneWidth}px, 0px, 0px)`
                    },
                    play(){
            			var self=this;
            			var initx,curx,lastx,disx
            			self.init();
                        self.wrap.ontouchstart=function(e){
                        	e.preventDefault();
                        	self.box.style.transitionDuration="0s";
                        	initx=self.getCss();
	                        lastx=e.touches[0].pageX;
                        };
                        self.wrap.ontouchmove=function(e){
	                        e.preventDefault();
	                        curx=e.touches[0].pageX;
	                        disx=curx-lastx;
	                        self.box.style.transform=`translate3d(${initx+disx}px, 0px, 0px)`
                        };
                        self.wrap.ontouchend=function(e){
	                        self.box.style.transitionDuration="0.5s";
                        	if(disx>self.disTance){
                        		_this.idx--
                            }
                            if(disx<-self.disTance){
	                            _this.idx++
                            }
                            self.doing();
                            self.interval();
                        };
                    },
                    interval(){
                        var self=this;
	                    clearInterval(_this.timer)
                        _this.timer=setInterval(()=>{
                        	_this.idx++;
                        	self.doing()
                        },4000)
                    }
                }
	            slider.play();
	            if(_this.num<2){
		            return
	            }
                slider.interval();
            }
        },
		mounted(){
            this.slider()
        },
		watch:{
			sliderImgs:function(val,oldval){
				this.imgs=val;
				this.num=val.length;
				this.idx=0;
				this.timer=null;
				this.slider()
            }
        },
        deactivated(){
			clearInterval(this.timer)
        }

	}
</script>

<style lang="less">
    .slider {
        width: 100%;
        height: 3rem;
        overflow: hidden;
        border-bottom: 1px solid #eee;
        padding-bottom: 4px;
        position: relative;
        p {
            text-align: center;
            position: absolute;
            left: 0px;
            bottom: 4px;
            width: 100%;
        }
        img {
            width: auto;
            height: 3rem;
        }
        ul {
            width: 100%;
            height: 3rem;
            transform: translate3d(0px, 0px, 0px);
            transition: transform .8s cubic-bezier(.4, .91, .86, 1.43);
        }
        li {
            width: 7.5rem;
            text-align: center;
            float: left;
        }
        b {
            display: inline-block;
            width: 6px;
            height: 6px;
            margin: 0 2px;
            background-color: #dcdcdc;
            border-radius: 3px;
            &.this {
                background-color: #19acff;
            }
        }
    }

</style>
