<template>
    <div class="submitOrder">
        <h1 v-if="!isOldAddress">你好，请点击添加地址


            <router-link to="/myAddress">添加</router-link>
        </h1>
        <article v-if="isOldAddress">
            <p><b>联系人：{{defaultAddress.contact}}</b><span>{{defaultAddress.phone}}</span></p>
            <p><b>地址：{{defaultAddress.addressAll}}</b>
                <router-link :to="{path:'myaddress',query:{type:'choose'}}"></router-link>
            </p>
        </article>
        <div>
            <h2>商品详情</h2>
            <div>
                <h3><img :src="url" alt=""></h3>
                <ul>
                    <li>{{name}}</li>
                    <li>数量：1件</li>
                    <li>积分：<span>{{need}}</span></li>
                </ul>
            </div>
            <h4>总计：<span>{{need}}</span>积分</h4>
            <h5>
                <p>客户留言：</p>
                <textarea name="" id="" placeholder="请输入对尺寸，快递，颜色等要求" v-model="msg"></textarea>
            </h5>
            <h6>温馨提示：</h6>
            <p>
                下单后3个工作日内发货，默认发顺丰快递，顺丰不到，请备注能到的快递，发货后会通过微信通知到手机查看物流信息
            </p>
        </div>
        <a @click="submit">提交兑换</a>
    </div>
</template>

<script>
	export default {
		data(){
			return {
				url: "",
				name: "",
				need: 0,
				id: 0,
				isOldAddress: true,
				defaultAddress: {},
				msg: ""
			}
		},
		methods: {
			submit(){
				var self = this;
				var msg = self.defaultAddress;

				if(!msg.contact){
					self.$root.tipTxt="请先添加收货地址";
					self.$root.tip=true;
					self.$root.doSomething=function () {
						self.$root.tip=false;
					}
					return
                }
				var submitInfo = {
					wares_id: self.id,
					consignee: msg.contact,
					shippingAddress: msg.addressAll,
					phone: msg.phone,
					orderSubstance: self.msg
				};
				self.$http.post(self.$url("submitOrder"), submitInfo).then(res => {
					if(res.data.code){
						self.$root.tipTxt="订单提交成功";
						self.$root.doSomething=function () {
							self.$router.push("exchange")
                            self.$root.tip=false;
						}
                    }else{
						self.$root.tipTxt="订单提交失败"
                    }
                    self.$root.tip=true;
				})
			}
		},
		activated()
		{
			document.title = "提交订单";
			var self = this;
			self.url = self.$route.query.url
			self.need = self.$route.query.need
			self.name = self.$route.query.name;
			self.id = self.$route.query.infoId;
			var self = this;
			var addressInfo=JSON.parse(window.localStorage.getItem("chooseAddress"));
			if(addressInfo){
				self.defaultAddress.addressAll=addressInfo.all
				self.defaultAddress.contact=addressInfo.contact
				self.defaultAddress.phone=addressInfo.phone
            }else{
				self.$http.get(self.$url("getDefautAddress")).then(res => {
					self.defaultAddress = res.data.data;
					if (!self.defaultAddress.addressAll) {
						self.isOldAddress = false
					}
				});
            }
		}
	}
</script>

<style lang="less">
    @import "../less/minxin";

    .submitOrder {
        .bg();
        padding-bottom: 20px;
        h1 {
            .padlr;
            .padtb(17px);
            font-size: 16px;
            border-bottom: 10px solid #eee;
            a {
                float: right;
                color: #ff5c5b;
            }
        }
        > article {
            .padtb(14px);
            .padlr(10px);
            padding-right: 20px;
            p {
                .padtb(6px);
                .flex;
                justify-content: space-between;
                b {
                    flex: 1;
                }
            }
            a {
                width: 12px;
                height: 12px;
                border-top: 1px solid #939393;
                border-right: 1px solid #939393;
                transform: rotate(45deg);
                transform-origin: 3px 8px;
            }
        }
        > div {
            .padlr();
            .padtb();
            padding-right: 0px;
            h2 {
                height: 28px;
                font-size: 16px;
            }
            > div {
                .flex;
                h3 {
                    width: 2.5rem;
                    .flex;
                    align-items: center;
                    .grayborder();
                }
                ul {
                    .flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding-left: 20px;
                }
                li {
                    &:nth-child(1) {
                        font-size: 14px;
                        color: #222;
                    }
                    &:nth-child(2) {
                        color: #939393;
                    }
                    &:nth-child(2) {
                        color: #222;
                    }
                }
            }
            span {
                color: #ff5c5b;
                padding-right: 4px;
            }
            h4 {
                text-align: right;
                border-top: 1px solid #eee;
                border-bottom: 1px solid #eee;
                margin-top: 14px;
                .padtb(18px);
                font-size: 14px;
                padding-right: 10px;
            }
            h5 {
                .padtb(15px);
                font-size: 14px;
                padding-right: 10px;
                p {
                    padding-bottom: 10px;
                }
            }
            textarea {
                text-indent: 1em;
                border: 1px solid #eee;
                font-size: 14px;
                width: 100%;
                border-radius: 4px;
                line-height: 20px;
                height: 80px;
                resize: none;
                -webkit-appearance: none;
                color: #666;
            }
            > p {
                color: #939393;
                line-height: 20px;
                padding-top: 5px;
                padding-right: 10px;
                padding-bottom: 20px;
            }
        }
        h6 {
            font-size: 16px;
            font-weight: bold;
            color: #939393;
        }
        > a {
            .bigBtn();
            display: block;
            margin: 0 auto;
        }

    }
</style>
