<template>
    <div class="tips">
        <div>
            <h1>提示!</h1>
            <pre v-html="$root.tipTxt"></pre>
            <div>
                <button id="ok" @click="comfirm">确定</button>
                <button id="no" @click="$root.tip=false" v-show="$root.twoBtn">取消</button>
            </div>
        </div>
    </div>
</template>

<script>
	export default {
		methods: {
			comfirm(){
				this.$root.doSomething()
			}
		}
	}
</script>

<style lang="less">
    @import "../less/minxin";

    .tips {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.2);
        .flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        > div {
            background-color: #fff;
            width: 90%;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            > div {
                .flex;
                justify-content: space-around;
            }
        }
        h1 {
            font-size: 18px;
            font-weight: bold;
        }
        pre {
            font-size: 16px;
            .padtb(20px);
            color: #666;
            line-height: 22px;
        }
        button {
            .bigBtn(@width:90%);
            outline: none;
            border: none;
            &:nth-child(2) {
                background-color: #ff5c5b;
                margin-left: 20px;
            }
        }
    }
</style>
