<template>
    <div>
        <div v-if="nav">
            <router-link to="/integral">积分兑换</router-link>
            <router-link to="/mybill">我的账单</router-link>
            <router-link to="/mycenter">个人中心</router-link>
        </div>
        <div>
            <transition name="route-slider">
                <keep-alive>
                    <router-view></router-view>
                </keep-alive>
            </transition>
        </div>
        <tips v-show="$root.tip"></tips>
        <loading v-show="$root.loading"></loading>
    </div>
</template>
<script>
    import tips from "com/tips"
    import loading from "com/loading"
    export default {
        data(){
            return {
                nav: true
            }
        },
        methods: {
            showLink(e){
                var tag = e.target.nodeName.toLowerCase();
                if (tag === "a") {
                    this.nav = false
                }
            }
        },
        components:{
	        tips,
	        loading
        }
    }
</script>
<style lang="less">
    .route-slider-enter-active,.route-slider-leave-active {
        transition: all .4s cubic-bezier(.12,-0.25,.38,-0.43);
    }

    .route-slider-enter,.route-slider-leave-active {
        opacity: 0;
        transform: translate3d(100%, 0, 0);
    }
</style>